body{
	margin: 0;

}

.topo{
	height: 100px;
	background: #eee;
}

.menu{
	height: 50px;
	background: #ddd;
}

.menuint{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

.menu ul{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.menu ul li{
	list-style: none;
	padding: 5px;
	line-height: 50px;
	height: 50px;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
}

.menu li:hover{
	background: #ccc;
}

.menu a{
	color: black;
	text-decoration: none;
}
.container{
	width: 100%;
	max-width: 800px;
	background: #ccc;
	min-height: 300px;
	margin: 0 auto;
}

.rodape{
	height: 100px;
	background: #ddd;
}

.produto{
	width: 180px;
	height: 230px;
	background: #eeeeee;
	float: left;
	margin: 10px;
	text-align: center;
}

.produto_foto{
	width: 300px;
	height: 300px;
	background: #f9f9f9;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}

.produto_info{
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.contato input[type=text], .contato input[type=email], .contato textarea{
	width: 400px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 13px;
}

.contato textarea{
	height: 200px;
}

.carrinho{
	width: 100px;
	height: 50px;
	float: right;
	margin-top: -50px;
}

.erro{
	padding: 15px;
	border:  1px solid #000;
	background: #eee;
	margin-bottom: 10px;
}